{:deps {org.clojure/tools.logging {:mvn/version "1.2.4"}
        org.slf4j/slf4j-api {:mvn/version "2.0.7"}
        ch.qos.logback/logback-classic {:mvn/version "1.4.8"}
        metosin/reitit-core {:mvn/version "0.7.0-alpha5"}
        metosin/reitit-ring {:mvn/version "0.7.0-alpha5"}
        metosin/reitit-schema {:mvn/version "0.7.0-alpha5"}
        metosin/reitit-middleware {:mvn/version "0.7.0-alpha5"}
        http-kit/http-kit {:mvn/version "2.7.0"}
        yogthos/config {:mvn/version "1.2.0"}
        ;; For servlet
        com.google.appengine/runtime-shared {:mvn/version "2.0.9"}}
 :paths ["src/backend" "resources"]

 :aliases
 {:test
  {:extra-paths ["src/test-backend" "dev-resources"]
   :extra-deps {com.monkeyprojects/build {:mvn/version "0.1.0-SNAPSHOT"
                                          :exclusions [org.slf4j/slf4j-nop]}
                ring/ring-mock {:mvn/version "0.4.0"}}
   :exec-fn monkey.test/all}

  :watch
  {:exec-fn monkey.test/watch}

  :coverage
  {:exec-fn monkey.test/coverage
   :exec-args {:ns-regex ["monkey.blog.*"]}}

  :junit
  {:exec-fn monkey.test/junit}

  :run
  {:main-opts ["-m" "monkey.blog.main"]}

  :jar
  {:extra-paths ["build"]
   :extra-deps {com.monkeyprojects/build {:mvn/version "0.1.0-SNAPSHOT"
                                          :exclusions [org.slf4j/slf4j-nop]}}
   :exec-args {:jar "target/blog-fn.jar"
               :version "0.1.0-SNAPSHOT"
               :main monkey.blog.main}}
  
  :uber
  {:exec-fn monkey.blog.build/uberjar}}}
