{:source-paths
 ["src/frontend"
  "src/test-frontend"
  "src/devcards"]

 :dev-http {8080 "resources/public"
            8000 "target/js/test"
            8001 ["target/js/devcards" "resources/public"]}

 :dependencies
 [[re-frame "1.3.0"]
  [cljsjs/react "18.2.0-0"]
  [cljsjs/react-dom "18.2.0-0"]
  [devcards "0.2.7"]
  [day8.re-frame/test "0.1.5"]
  [metosin/reitit-frontend "0.7.0-alpha4"]
  [lambdaisland/kaocha-cljs2 "0.2.72"]
  [com.monkeyprojects/shadow-junit-xml "0.1.0-SNAPSHOT"]]

 :builds
 {:app
  {:target :browser
   :output-dir "resources/public/js"
   :modules
   {:main {:init-fn monkey.blog.fe.core/init}}}

  :cards
  {:target :browser-test
   :ns-regexp "-cards$" ;; Pick up all files that end with -cards
   :test-dir "target/js/devcards"
   :runner-ns monkey.blog.fe.cards
   :compiler-options {:devcards true}
   :js-options {:resolve {"devcards-marked"
                          {:target :npm :require "marked"}
                          "devcards-syntax-highlighter"
                          {:target :npm :require "highlight.js"}}}}

  :test
  {:target :browser-test
   :test-dir "target/js/test"}

  :test-kaocha
  {:target :browser-test
   :test-dir "target/js/test-kaocha"
   :runner-ns kaocha.cljs2.shadow-runner
   :ns-regexp ".*-test$"
   :devtools {:http-port 8002
              :http-root "target/js/test-kaocha"
              :preloads [lambdaisland.chui.remote]}}
  
  :test-ci
  {:target :node-test
   :output-to "target/js/node-tests.js"
   ;; Output as junit xml
   :main monkey.shadow.junit.runner/run-tests}}}
