#kaocha/v1
{:tests
 [{:type :kaocha.type/clojure.test
   :id :backend
   :ns-patterns ["-test$"]
   :source-paths ["src/backend"]
   :test-paths ["src/test-backend"]}
  {:type :kaocha.type/clojure.test
   :id :frontend
   :ns-patterns ["-test$"]
   :source-paths ["src/frontend"]
   :test-paths ["src/test-frontend"]}]}
 
